[submodule "spacemacs.d/layers/csound/local/csound-mode"]
	path = spacemacs.d/layers/csound/local/csound-mode
	url = git@github.com:allforabit/csound-mode.git
[submodule "spacemacs.d/layers/graphviz"]
	path = spacemacs.d/layers/graphviz
	url = https://github.com/luxbock/graphviz.git
